body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color{
    width: 50px;
    height: 50px;
    display: inline-block;
    border: solid 1px black;
}

.block1{
    background-color: black;
}

.block2{
    background-color: green;
}

.block3{
    background-color: blue;
}

.block4{
    background-color: red;
}

#pixel-board{
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 6px;
}

.pixel{
    width: 40px;
    height: 40px;
    border: solid 1px black;
    display: inline-block;
    background-color: white;
}

#button-random-color{
    width: 150px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 10px;
}

#clear-board{
    width: 150px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-bottom: 10px;
}

#board-size{
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
}

#generate-board{
    height: 30px;
}